<%= link_to chat_room_path(chat_room), class: 'list-group-item list-group-item-action ' do %>
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column col-8">
      <div class="text-truncate">房间名：<em><%= chat_room.name %></em></div>
      <div  class="text-truncate">创建者：<em><%= chat_room.user.email %></em></div>
    </div>
    <div class="d-flex flex-column col-4">
      <div>人数：<em><%= @user_counts[chat_room.id] || 0 %></em></div>
      <div>最后回复时间：<small><%= chat_room.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></small></div>
    </div>
  </div>
<% end %>
