<div class="d-flex justify-content-between p-2 rounded-top bg-dark">
  <h3 class="text-white text-truncate mb-0"><%= @chat_room.name %></h3>
  <% if @chat_room.user == current_user %>
    <%= link_to 'x', chat_room_path(@chat_room), method: :delete, class: 'btn btn-danger',
          data: {confirm: '你确定要强制关闭该房间吗？'} %>
  <% else %>
    <%= link_to 'x', leave_chat_room_path(@chat_room), method: :delete, class: 'btn btn-danger' %>
  <% end %>
</div>
<div data-controller="chat-room" data-chat-room-id=<%= @chat_room.id %> >
  <div class="border mb-1 overflow-auto" style="height: 50vh;" data-target="chat-room.messages">
    <%= render @chat_messages %>
  </div>
  <div data-controller="chat-message">
    <%= form_with model: [@chat_room, @chat_message], data: {action: 'ajax:before->chat-message#check_blank'} do |f| %>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, rows:3, data: {target: 'chat-room.textarea chat-message.textarea', 
          action: 'keydown->chat-message#send_message'}, class: 'form-control' %>
      </div>

      <div class="form-group d-flex justify-content-end">
        <div class="mr-2"><small class="bg-primary text-white px-2">Ctrl</small>+<small class="bg-primary text-white px-2">Enter</small></div>
        <%= f.submit '发送', class: 'btn btn-primary px-4 py-0', data: {target: 'chat-message.submit', disable_with: false}%>
      </div>
    <% end %>
  </div> 
</div>
