<h3 class="bg-dark p-2 mb-0 rounded-top text-white"><%= @chat_room.name %></h3>
<div data-controller="chat-room" data-chat-room-id=<%= @chat_room.id %> >
  <div class="border mb-1 overflow-auto" style="height: 50vh;" data-target="chat-room.messages">
    <%= render @chat_messages %>
  </div>
  <div data-controller="chat-message">
    <%= form_with model: [@chat_room, @chat_message], data: {action: 'ajax:before->chat-message#check_blank'} do |f| %>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, rows:3, data: {target: 'chat-room.textarea chat-message.textarea', 
          action: 'keydown->chat-message#send_message'}, class: 'form-control' %>
      </div>

      <div class="form-group d-flex justify-content-end">
        <div class="mr-2"><small class="bg-primary text-white px-2">Ctrl</small>+<small class="bg-primary text-white px-2">Enter</small></div>
        <%= f.submit 'å‘é€', class: 'btn btn-primary px-4 py-0', data: {target: 'chat-message.submit', disable_with: false}%>
      </div>
    <% end %>
  </div> 
</div>
