<!DOCTYPE html>
<html>
  <head>
    <title>Chatroom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flash_message' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <%= render 'shared/my_rooms' %>
        </div>
        <div class="col-9" id="main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
